body {
    background-color: rgb(230, 233, 237);
}

.button {
    border-style: none;
    display: inline-block;
    padding: 2vh 2vh 2vh 2vh;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.button-lg {
    padding: 20%;
}

.loginbutton {
    margin-top: 10vh;
}

.companybox {
    border-style: none;
    border-radius: 20%;
    box-shadow: 7px 7px 5px grey;
    display: block;
    font-size: 100%;
    padding: 3vh;
    text-align: center;
}

.create {
    border-color: rgb(243,180,27);
}

.faqquestions {
    font-size: 120%;
    margin-left: 3%;
    margin-top: 1%;
}

.findsomethingbox {
    border-color: rgb(243, 180, 27);
    border-style: solid;
    display: block;
    font-size: 120%;
}


.findsomethingboxheader {
    font-size: 140%;
    font-weight: bold;
}

.headline {
    font-size: 380%;
    color: rgb(102,109,119);
}


.icons {
    height: 90%;
    width: 30%;
}


.indextext {
    margin-left: 3%;
    margin-top: 15%;
}


.logo1 {
    height: 35%;
    margin-top: 8%;
    padding-left: 40%;
    width: 80%;
}

.logo2 {
    margin-top: 4vh;
    margin-bottom: 6vh;
}

.logo3 {
    margin-bottom: 6vh;
    margin-top: 6vh;
}

.map {
    margin-left: 38%;
    margin-top: 15%;
}


.normaltext {
    font-size: 180%;
}

.novi {
    height: 10%;
    width: 10%;
}

.novifont {
    color: rgb(102, 109, 119);
    font-family: Oswald;
}

.novigreen {
    background-color: rgb(162,215,100);
    color: white;
}

.novilgrey {
    background-color: rgb(141,144,146);
    color: white;
}

.novidgrey {
    background-color: rgb(102,109,119);
    border-color: rgb(102,109,119);
    color: white;
}

.noviperson {
    height: 5vh;
    width: 5vh;
}

.noviyellow {
    background-color: rgb(243,180,27);
    color: white;
}

.orangeline {
    border-top: 5px solid;
    margin: 1% 0% 0% 0%;
    color: rgb(243, 180, 27);
}

.oversigt{
    height: 100%;
    width: 100%;
}

.parkingbutton {
    border-radius: 15%;
    border-style: none;
    box-shadow: 7px 7px 5px grey;
    height: 35%;
    margin-left: 39%;
    margin-top: -10%;
    width: 18%;
}

.parkingfont {
    font-size: 25px;
    margin-top: 7%;
    text-align: center;
}

.parkinginput {
    border-style: solid;
    padding: 5% 5% 5% 5%;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(102, 109, 119);
    border-color: rgb(102, 109, 119);
    color: white;
    font-size: 20px;
}

.searchbox {
    background: none;
    background-color: rgb(102, 109, 119);
    border-color: rgb(102, 109, 119);
    border-style: solid;
    border-radius: 10px;
    color: white;
    width: 95%;
    height: 110%;
}

.searchbar {
    width: 85%;
    height: 100%;
    border: solid;
    border-color: rgb(102, 109, 119);
    float: left;
}

.searchbtn {
    color: white;
    border-style: none;
    font-size: 3vh;
    float: right;
}

.sidebox {
    border-radius: 15%;
    box-shadow: 7px 7px 5px grey;
    border-style: none;
    display: inline-block;
    padding: 2vh 2vh 2vh 2vh;
}

::-webkit-input-placeholder {
    color: white;
}
