@page
@model LoginOgInfo.Pages.VirksomhederPage.CreateModel

@{
    ViewData["Title"] = "Tilføj ny virksomhed";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/core.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Startside</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

@if (SignInManager.IsSignedIn(User))
{
    <body>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-3">
                    <img src="\Pictures/hus.png" onclick="window.location.href = '/index'" class="icons img-fluid mr-1" ;>
                    <img src="\Pictures/venstre.png" onclick="javascript:history.go(-1)" class="icons img-fluid mr-1" />
                    <img src="\Pictures/højre.png" onclick="javascript:history.go(+1)" class="icons img-fluid" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="mb-4 orangeline noviyellow" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="novifont headline">
                    Opret ny Virksomhed
                </p>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="VirksomhederInfo.Navn" class="control-label"></label>
                        <input asp-for="VirksomhederInfo.Navn" class="form-control" />
                        <span asp-validation-for="VirksomhederInfo.Navn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VirksomhederInfo.CVR" class="control-label"></label>
                        <input asp-for="VirksomhederInfo.CVR" class="form-control" />
                        <span asp-validation-for="VirksomhederInfo.CVR" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VirksomhederInfo.Medarbejdere" class="control-label"></label>
                        <input asp-for="VirksomhederInfo.Medarbejdere" class="form-control" />
                        <span asp-validation-for="VirksomhederInfo.Medarbejdere" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VirksomhederInfo.Lokale" class="control-label"></label>
                        <input asp-for="VirksomhederInfo.Lokale" class="form-control" />
                        <span asp-validation-for="VirksomhederInfo.Lokale" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VirksomhederInfo.Findvej" class="control-label"></label>
                        <input asp-for="VirksomhederInfo.Findvej" class="form-control" />
                        <span asp-validation-for="VirksomhederInfo.Findvej" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Opret Virksomhed" class="btn btn-primary btn-lg novifont noviyellow text-center create shadow" />
                        <button type="button" class="btn btn-primary btn-lg novifont noviyellow text-center create shadow"
                                onclick="window.location.href = '/Identity/Account/AdminNavi'">
                            Tilbage til Admin Panel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
}
else
{
    <body>
        <p class="novifont headline mt-3 mb-3">
            Du skal være logget ind for at redigere i databasen.
        </p>
        <button type="button" class="btn btn-primary btn-lg novifont noviyellow button shadow mr-4" onclick="window.location.href = '/Identity/Account/login'">
            Klik her for at logge ind
        </button>
        <button type="button" class="btn btn-primary btn-lg novifont noviyellow button shadow" onclick="window.location.href = '/index'">
            Klik her for at returnere til forsiden
        </button>
    </body>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
