@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="container">
    <div class="row">
        <div class="nav-item btn btn-primary btn-block btn-lg novifont noviyellow button text-center mb-3">
            <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) novifont noviyellow" id="personal-data" asp-page="./Index">Personlig data</a>
        </div>
        <div class="nav-item btn btn-primary btn-block btn-lg novifont noviyellow button text-center mb-3">
            <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)  novifont noviyellow text-center mb-3" id="change-password" asp-page="./ChangePassword">Kodeord</a>
        </div>
    </div>
</div>



<button type="button" class="btn btn-primary btn-lg btn-block novifont noviyellow button shadow"
                onclick="window.location.href = '/Identity/Account/AdminNavi'">
            Administer virksomheder
        </button>