bin/
obj/
.vs/*
Db.cs
Interaktiv receptionist/Template Final/Hjemmesidetemplate/.vs/Hjemmesidetemplate/config/applicationhost.config
Interaktiv receptionist/Template Final/Hjemmesidetemplate/.vs/Hjemmesidetemplate/v16/.suo
