@page
@model LoginOgInfo.Pages.IndexModel
@{

}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/core.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Startside</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col float-left logo3">
                <img src="\Pictures/novi.png" />
            </div>
        </div>

        <div class="row">
            <div class="col mx-auto">
                <div class="headline novifont text-center">
                    <p>
                        Velkommen til Novi
                    </p>
                    <p>
                        Mangler du hjælp til noget?
                    </p>
                </div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-12 mt-5 mb-5 text-center">
                <button type="button" class="btn btn-primary btn-lg novifont noviyellow button text-center"
                        onclick="window.location.href = '/VirksomhederPage'">
                    Tryk her
                </button>
            </div>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
        <div class="row">
        <div class="col-12 mt-5">
            <button type="button" class="btn btn-primary btn-sm novifont noviyellow button text-center float-left"
                    onclick="window.location.href = '/identity/account/AdminNavi'">
                Admin Panel
            </button>
        </div>
    </div>
    }
    else
    {

    <div class="row">
        <div class="col-12 mt-5">
            <button type="button" class="btn btn-primary btn-sm novifont noviyellow button text-center float-left"
                    onclick="window.location.href = '/identity/account/login'">
                Login
            </button>
        </div>
    </div>
    }
        </div>
    </body>

    <!--Dette er vores mailknap-->
    <script>
    function sendMail() {
        var link = "mailto:Andreas.troldborg@gmail.com"
            + "?cc=MarcusAndersen@live.dk"
            + "&subject=" + escape("AftaleALARM")
            + "&body=" + escape(document.getElementById('myText').value)
            ;

        window.location.href = link;
    }
    </script>