@page
@model FaqModel;
@{
    ViewData["Title"] = "Ofte stillede spørgsmål";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="css/core.css" />
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


<body>
    <!-- This div contains the site-->
    <div class="container-fluid h-100">
        <div>
            <h1 class="col-8 offset-3 headline novifont">@ViewData["Title"]</h1>
        </div>

        <!-- This div contains the icons and search field-->
        <div class="row">
            <div class="col-1 align-self-start">
                <img src="\Pictures/hus.png" class="homeicon" ;>
            </div>
            <div class="col-1 align-self-center">
                <img src="\Pictures/venstre.png" onclick="javascript:history.go(-1)" class="backbutton" />
            </div>
            <div class="col-1 align-self-center center">
                <img src="\Pictures/højre.png" onclick="javascript:history.go(+1)" class="forwardbutton" />
            </div>
            <div class="col-8 mb-2 align-self-center mt-2">
                <input type="text" placeholder="Søg efter virksomhed eller lokale.." class="searchbar novifont">
            </div>
        </div>

        <!-- This div contains the orange through and through line-->
        <div class="row">
            <hr class="col-11 mb-4 orangeline" />
        </div>

        <!-- This div contains the buttons on left hand side-->
        <div class="row">
            <button type="button" class="col-2 mb-5 sidebox text-center novifont noviyellow" onclick="window.location.href = '/privacy'">Oversigtskort</button>
            <div class="col-9 offset-1">
                <div class="col1">
                    <p class="faqquestions novifont">Hvad er telefonnummeret til Falck?</p>
                </div>
            </div>
        </div>

        <div class="row">
            <button type="button" class="col-2 mb-5 sidebox text-center novifont noviyellow" onclick="window.location.href = '/privacy'">Parkering</button>
            <div class="col-9 offset-1">
                <div class="col2"></div>
            </div>
        </div>

        <div class="row">
            <button type="button" class="col-2 mb-5 sidebox text-center novifont noviyellow" onclick="window.location.href = '/privacy'">Ofte stillede spørgsmål</button>
            <div class="col-9 offset-1">
                <div class="col3 novifont">
                  
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2 mb-5 "></div>
            <div class="col-9 offset-1">
                <div class="col4"></div>
            </div>
        </div>
    </div>


</body>
