@page
@model Hjemmesidetemplate.Pages.IndexModel
@{
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/core.css"/>
    <title>Startside</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mb-5 novi">
            <img src="\Pictures/novi.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-7 offset-3 mb-4 SpaceBetween">
            <p class="headline">
                Velkommen til Novi 8
            </p>
        </div>
    </div>

    <div class="col-9 offset-2 mb-5">
        <p class="headline">
            Mangler du hjælp til noget?
        </p>
    </div>
    <div class="row align-items-center h-100">
        <button type="button" class="col-4 offset-4 startknap mb-5" onclick="window.location.href='/personinfo'">Tryk her</button>
    </div>
</div>
</body>