@page
@model OversigtModel
@{
    ViewData["Title"] = "Home page";
}
    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="\css/core.css"/>

        <title>Velkommen til</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

<body>
    <div class="container-fluid h-100">
        <div>
            <h1 class="col-8 offset-3 headline">Hvad vil du gerne finde?</h1>
        </div>

        <div class="row">
            <div class="col-1 align-self-start">
                <img src="\Pictures/hus.png"  class="homeicon" onclick="window.location.href='/oversigt'";>
            </div>
            <div class="col-1 align-self-center">
                <img src="\Pictures/venstre.png" onclick="javascript:history.go(-1)" class="backbutton" />
            </div>
            <div class="col-1 align-self-center center">
                <img src="\Pictures/højre.png" onclick="javascript:history.go(+1)" class="forwardbutton"/>
            </div>
            <div class="col-8 mb-2 search_box align-self-center mt-2">
                <input type="text" placeholder="Søg efter virksomheder, medarbejdere eller lokaler.." class="søgeknap">
            </div>
        </div>

        <div class="row">
            <hr class="col-11 mb-4 orangeline" />
        </div>

        <div class="row align-items-center h-100">
            <button type="button" class="col-2 mb-5 Sidebox text-center" onclick="window.location.href='/oversigtskort'">Oversigtskort</button>
            
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 1</p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 2</p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 3</p>
            </button>
        </div>

        <div class="row align-items-center h-100">
            <button type="button" class="col-2 mb-5 Sidebox text-center " onclick="window.location.href='/privacy'">Parkering</button>

            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 4</p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 5</p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 6</p>
            </button>

        </div>

        <div class="row align-items-center h-100">
            <button type="button" class="col-2 mb-5 Sidebox text-center " onclick="window.location.href='/faq'">Ofte Stillede Spørgsmål</button>

            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 7</p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 8</p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 9</p>
            </button>

        </div>

        <div class="row align-items-center h-100">
            <button type="button" class="col-2 mb-5 offset-3 SideboxFirma">
                <p class="my-auto text-center">Firma 10</p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 11</p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center">Firma 12</p>
            </button>

        </div>
    </div>
</body>


