@page
@model PersoninfoModel
@{
    ViewData["Title"] = "Person information";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="\css/core.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <title>@ViewData["title"]</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <p class="headline novifont text-center">
                    @ViewData["Title"]
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <img src="\Pictures/hus.png" onclick="window.location.href = '/index'" class="icons img-fluid mr-1" ;>
                <img src="\Pictures/venstre.png" onclick="javascript:history.go(-1)" class="icons img-fluid mr-1" />
                <img src="\Pictures/højre.png" onclick="javascript:history.go(+1)" class="icons img-fluid" />
            </div>
            <div class="col-9">
                <input type="text" placeholder="Søg efter virksomhed eller lokale.." class="searchbar novifont" ;>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr class="mb-4 orangeline noviyellow" />
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-center novifont">
            <button type="button" class="btn btn-primary btn-lg noviyellow mb-4 button btn-block shadow" onclick="window.location.href = '/index'">
                Oversigtskort
            </button>
            <button type="button" class="btn btn-primary btn-lg noviyellow mb-4 button btn-block shadow" onclick="window.location.href = '/parkering'">
                Parkering
            </button>
            <button type="button" class="btn btn-primary btn-lg noviyellow mb-4 button btn-block shadow" onclick="window.location.href = '/faq'">
                Faq
            </button>
        </div>

        <div class="col-10">
            <div class="row">
                <div class="col-6">
                    <p class="normaltext novifont">
                        Navn: Jen Jenssen<br />
                        Lokale: 0.1.95<br />
                        tlf: 99887766
                    </p>
                </div>
                <div class="col-6">
                    <img alt="Novi Logo" src="/Pictures/novi.png" class="float-right logo2" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 findsomethingbox mt-4 mb-5">
                    <p class="findsomethingboxheader novifont">
                        Sådan finder du Jens Jensen
                    </p><p class="normaltext novifont">
                        1. Gå til venstre ved kantinen.
                        <br>
                        2. Følg trappen op til anden sal.
                        <br>
                        3. Tag anden dør på højre hånd.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

