@page
@model PersoninfoModel
@{
    ViewData["Title"] = "Person information";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="\css/core.css" />

    <title>@ViewData["title"]</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <!-- This div contains the site-->
    <div class="container-fluid h-100">
        <div>
            <h1 class="col-8 offset-3 headline">@ViewData["Title"]</h1>
        </div>

        <!-- This div contains the icons and search field-->
        <div class="row">
            <div class="col-1 align-self-start">
                <img src="\Pictures/hus.png" class="homeicon" ;>
            </div>
            <div class="col-1 align-self-center">
                <img src="\Pictures/venstre.png" onclick="javascript:history.go(-1)" class="backbutton" />
            </div>
            <div class="col-1 align-self-center center">
                <img src="\Pictures/højre.png" onclick="javascript:history.go(+1)" class="forwardbutton" />
            </div>
            <div class="col-8 mb-2 search_box align-self-center mt-2">
                <input type="text" placeholder="Søg efter virksomheder eller lokaler.." class="søgeknap">
            </div>
        </div>

        <!-- This div contains the orange through and through line-->
        <div class="row">
            <hr class="col-11 mb-4 orangeline" />
        </div>

        <!-- This div contains the buttons on left hand side-->
        <div class="row">
            <button type="button" class="col-2 mb-5 Sidebox text-center" onclick="window.location.href = '/privacy'">Oversigtskort</button>

            <div class="col-5 offset-1">
                <p class="normaltext">
                    Lokale: Kantine<br />
                    Nummer: 0.0.1<br />                    
                </p>
            </div>
            <div class="col">
                <img src="\Pictures/novi.png" width="75%" height="100%">
            </div>
        </div>
        <div class="row">
            <button type="button" class="col-2 mb-5 Sidebox text-center " onclick="window.location.href = '/privacy'">Parkering</button>
            <div class="col-9 offset-1">
                <div class="col2"></div>
            </div>
        </div>

        <div class="row align-items align-self-start-center h-100">
            <button type="button" class="col-2 mb-5 Sidebox text-center " onclick="window.location.href = '/privacy'">FAQ</button>

            <!--This div contains info on how to find the person-->
            <div class="col-8 offset-1 personboxfind">

                <div class="col-7 offset-1 normaltext mb-5">
                    <p style="font-size: 140%; color: grey;">Sådan finder du Kantinen</p>
                    <br />
                    1. Fortsæt ligeud <br />
                    2. Kantinen vil være lige fremme


                </div>
                <div class="row mb-5 justify-content-center">
                    <img class="personboxnavn" src="\Pictures/novi.png" width="675vh" height="130vh">
                </div>

            </div>
        </div>
    </div>
</body>