@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Velkommen til</title>
        <style>

            ::placeholder { /* Firefox, Chrome, Opera */
                color: white;
                
            }
            * {
                box-sizing: border-box;
            }

            body {
                background-color: #E6E9ED;
            }

            .Sidebox {
                background-color: #F3BB1B;
                color: white;
                display: block;                
                border-radius: 20%;
                box-shadow: 7px 7px 5px grey;
                font-family: oswald;
                font-size: 100%;
                padding: 3vh;    
                height: 10vh;
            }

            .SideboxFirma {
                background-color: grey;
                color: white;
                display: block;                
                border-radius: 20%;
                box-shadow: 7px 7px 5px grey;
                font-family: oswald;
                font-size: 100%;
                padding: 3vh;
            }

            .Sidetext {
                font-family: oswald;
                font-size: 100%;
                text-align:center;                
            }

            .search_box {
                font-family: oswald;
                border-style: solid;
                border-radius: 10px;
                background-color: #8D9092;
                border-color: #8D9092;
                width: 100%;
                height: 5%;
                color: white;                
            }

            .søgeknap {
                border-style: none;
                background: none;
                outline: none;
                color: white;
                width: 100%;
                margin: 0% 0% 0% 2%;
            }
            button:hover {
                color: white;
                background-color: hotpink;
            }
            

        </style>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

<body>
    <div class="container-fluid h-100">
        <div>
            <h1 class="col-8 offset-3" style="font-family: oswald; font-size: 380%; color: #8D9092;">Hvad vil du gerne finde?</h1>
        </div>

        <div class="row">
            <div class="col-1 align-self-start">
                <img src="\Pictures/hus.png" style="width: 50px; height: 50px; margin: 9% 0% 0% 40%;" alt="image error";>
            </div>
            <div class="col-1 align-self-center">
                <img src="\Pictures/venstre.png.png" onclick="javascript:history.go(-1)" style="width: 50px; height: 50px; margin: 9% 0% 1% 2%" />
            </div>
            <div class="col-1 align-self-center center">
                <img src="\Pictures/højre.png.png" onclick="javascript:history.go(+1)" style="width: 50px; height: 50px; margin: 9% 0% 1% -45%"/>
            </div>
            <div class="col-8 mb-2 search_box align-self-center mt-2">
                <input type="text" placeholder="Søg efter virksomheder eller lokaler.." class="søgeknap">
            </div>
        </div>

        <div class="row">
            <hr class="col-11 mb-4" style="border-top: 5px solid #F3BB1B; margin: 2% 0% 0% -1.2%;" />
        </div>

        <div class="row align-items-center h-100">
            <a href="www.Google.dk" class="col-2 mb-5 Sidebox text-center" role="button">I'm FREE</a>
            <!--<button type="button" class="col-2 mb-5 Sidebox">-
            <p class="my-auto text-center">Søg efter <br /> virksomhed</p>
            </button>-->
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center" style="text-align:center;">Firma 1</p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 2
                </p>
            </button>
            <button type="button" class="col-2 mb-5 offset-1 SideboxFirma">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 3
                </p>
            </button>
        </div>

        <div class="row align-items-center h-100">
            <div class="col-2 mb-5 Sidebox">
                <p class="my-auto text-center">Søg efter <br /> lokale</p>
            </div>
            <div class="col-2 mb-5 offset-1 Sidebox">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 4
                </p>
            </div>
            <div class="col-2 mb-5 offset-1 Sidebox">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 5
                </p>
            </div>
            <div class="col-2 mb-5 offset-1 Sidebox">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 6
                </p>
            </div>

        </div>

        <div class="row align-items-center h-100">
            <div class="col-2 mb-5 Sidebox">
                <p class="my-auto text-center">Ofte stillede <br />spørgsmål</p>
            </div>
            <div class="col-2 mb-5 offset-1 Sidebox">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 7
                </p>
            </div>
            <div class="col-2 mb-5 offset-1 Sidebox">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 8
                </p>
            </div>
            <div class="col-2 mb-5 offset-1 Sidebox">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 9
                </p>
            </div>

        </div>

        <div class="row align-items-center h-100">
            <div class="col-2 mb-5 offset-3 Sidebox">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 10
                </p>
            </div>
            <div class="col-2 mb-5 offset-1 Sidebox">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 11
                </p>
            </div>
            <div class="col-2 mb-5 offset-1 Sidebox">
                <p class="my-auto text-center" style="text-align:center;">
                    Firma 12
                </p>
            </div>

        </div>

        <!--
    <div class="col">Nummer 1</div>
    <div class="col">Nummer 2</div>
    <div class="col">Nummer 3</div>
    </div>

    <div class="Sidebox" style="position: fixed; top: 35%; padding: 16px;">
        <p class="Sidetext">
            Søg efter <br /> lokale
        </p>
    </div>

    <div class="Sidebox" style="position: fixed; top: 48%; padding: 30px; ">
        <p class="Sidetext">
            FAQ
        </p>
    </div>
    -->
        </div>
</body>


